body {
    display: flex;
    flex-direction: column;
    font-family: arial;
}

body > *{
    display: flex;
    padding: 0 20%;
}

.header {

    justify-content: space-between;
    align-items: center;
    background: #1f2937;
}

    .logo {
        width: 160px;
        height: 40px;
        margin: 15px 0;
        flex-shrink: 0;
    }

    ul {
        display: flex;
        list-style: none;
        gap: 30px;
    }

.first {
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
    background: #1f2937;
}

    .left {
        text-align: left;
        max-width: 50%;
        min-width: min-content;
    }

    .right {
        max-width: 50%;
    }

    .maintext, .fourthmain {
        color: #f9faf8;
        font-size: 48px;
        font-weight: bolder;
        margin: 5px;
    }

    .subtext, .fourthsub {
        color: #e5e7eb;
        font-size: 18px;
        margin: 5px;
    }

    .signup{
        background-color: #3882f6;
        color: #e5e7eb;
        border-style: none;
        border-radius: 10px;
        width: 70px;
        height: 35px;
        margin: 5px;
    }

    .mainimage {
        width: fit-content;
        flex-shrink: 1;
    }

.second {
    flex-direction: column;
    align-items: center;
}

    .imagehead {
        color:#1f2937;
        font-size: 30px;
        font-weight: bolder;
    }

    .gallery {
        display: flex;
        flex-wrap: wrap;        
        justify-content: center;
    }

    .galleryitem {
        text-align: center;
        color: black;
        font-size: 15px;;
        max-width: 200px;
        margin: 20px;
    }

    .gallerypic {
        max-width:100%;
        border: 2px solid #3882f6;
        border-radius: 10%;
    }

.third {
    background: #e5e7eb;
    display: inline;
}

    .quote{
        color: #1f2937;
        font-size: 36px;
        font-style: italic;
        margin: 80px 80px 10px;
    }

    .attribution{
        color: black;
        font-size: 25px;
        font-weight: bolder;
        font-style: italic;
        margin: 10px 80px 80px;
        text-align: end;
    }

.fourth {
    background-color: #3882f6;
    justify-content: space-between;
    align-items: center;
    margin: 40px 20%;
    padding: 20px 50px;
    border-radius: 20px;
}

    .fourthmain{
        font-size: 20px;
    }

.buttontwo{
    border: 2px solid white;
}

.footer {
    background: #1f2937;
    justify-content: center;
}

a, .footer {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
  }



